.faq-item {
    border-radius: 16px;
    margin: 20px 0 20px 0;
    overflow: hidden;
    box-shadow: 2px 2px 10px 0px rgb(227 233 243);
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    line-height: 1.75;
    background: #eff1f4;
    cursor: pointer;
    color:#1B3764;
    font-size: 18px;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    line-height: 1.75;
    text-align: justify;
    overflow-y: auto;
  }
/* Ширина всей полосы */
::-webkit-scrollbar {
  width: 12px;
}

/* Цвет фона трека */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Цвет ползунка */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Цвет ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  .faq-item.open .faq-answer {
    max-height: 200px; 
    padding: 1rem;
  }

  .faq-toggle {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
  }

  .faq-item.open .faq-toggle {
    transform: rotate(45deg); 
  }