.services_list{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
gap: 8px;
margin: 20px 0 0 0;
}
.services_list_item{
    width: 400px;
    background-color: #eff1f4;
    border-radius: 16px;
    padding: 20px;
    margin: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    position: relative;
    transition: transform 0.3s ease;
    display: flex;
}
.services_list_item:hover{
    transform: scale(1.02);
}
.sli_content{
    margin: 0 0 10px 0;
}
.services_list_item a{
    text-decoration: none;
    color:#1B3764;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sli_free{
    height: 35px;
    width: 150px;
    background-color: #1B3764;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 15px;
    align-content: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    position: absolute;
    top: 25px;
    right: 0;
}
.sli_icon img{
    height: 120px;
}
.sli_header{
    font-size: 22px;
    font-weight: 600;
    margin: 10px;
}
.sli_description{
    text-align: justify;
    line-height: 1.25;
    margin: 10px;
    color: #444444;
}
.sli_button{
    margin-top: auto;
    margin-left: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}
.sli_button:hover{
    text-decoration: underline;
}