---
import Layout from '../layouts/Layout.astro';
import '../styles/error.css';

const pageTitle = "404 - Страница не найдена";
---
<Layout pageTitle={pageTitle}>
        <section id="about">
          <div class="container">
            <div class="error">
            <h1>404 - Страница не найдена</h1>
            <p>Похоже, вы перешли по несуществующей ссылке.</p>
            <p>Эта страница удалена или никогда не сущестовала.</p>
            <button onclick="window.location.href='/';">
                Главная страница
              </button>
            </div>
            </div>
        </section>
</Layout>