---
import '../styles/callbutton.css';
---
  <div class="call-component">
    <button class="btn_call" type="button">Позвонить</button>
  
    <div class="overlay">
      <div class="modal">
        <span class="close">&times;</span>
        <h3>Связаться с нами</h3>
  
        <div class="phone">
          <img src="/src/assets/profile.svg" alt="profile">
          <a href="tel:89667575734">+7-966-757-57-34</a> Сергей
        </div>
  
        <div class="phone">
          <img src="/src/assets/profile.svg" alt="profile">
          <a href="tel:89315343242">+7-931-534-32-42</a> Тимур
        </div>
      </div>
    </div>
  </div>

  <script>
    import "../scripts/callbutton.js";
 </script>