---
import '../styles/deliveryslider.css';
---
<div class="slider">
  <div class="slider-window">
    <div class="slider-wrapper">

      <div class="card">
        <img src="/public/mixer-truck.svg">
        <h3>Slide 1</h3>
        <p>Description 1</p>
        <p>Description 1-1</p>
      </div>

      <div class="card">
        <img src="/public/mixer-truck.svg">
        <h3>Slide 2</h3>
        <p>Description 2</p>
        <p>Description 2-1</p>
      </div>

      <div class="card">
        <img src="/public/mixer-truck.svg">
        <h3>Slide 3</h3>
        <p>Description 3</p>
        <p>Description 3-1</p>
      </div>

      <div class="card">
        <img src="/public/mixer-truck.svg">
        <h3>Slide 4</h3>
        <p>Description 4</p>
        <p>Description 4-1</p>
      </div>

      <div class="card">
        <img src="/public/mixer-truck.svg">
        <h3>Slide 5</h3>
        <p>Description 5</p>
        <p>Description 5-1</p>
      </div>

    </div>
  </div>

  <div class="controls">
    <button class="btn" id="prev" aria-label="Previous">←</button>
    <button class="btn" id="next" aria-label="Next">→</button>
  </div>

  <div class="pagination"></div>
</div>