---
import '../styles/questionanswer.css';
---
<div class="faq-item">
  <div class="faq-question">
    <span>Как оформить заказ на материалы?</span>
    <span class="faq-toggle">+</span>
  </div>
  <div class="faq-answer">
    <p><strong>"МАВИС-Бетон"</strong> работает как с физическими, так и юридическими лицами. Вам достаточно оставить заявку на сайте или связаться с нами по телефону.</p>
  </div>
</div>
  
  <div class="faq-item">
    <div class="faq-question">
      <span>Бывают ли скидки?</span>
      <span class="faq-toggle">+</span>
    </div>
    <div class="faq-answer">
      <p>Да, <strong>"МАВИС-Бетон"</strong> предлагает различные индивидуальные скидки, зависящие от объема заказа.</p>
    </div>
  </div>
  
  <div class="faq-item">
    <div class="faq-question">
      <span>Как правильно выбрать марку бетона для моего объекта?</span>
      <span class="faq-toggle">+</span>
    </div>
    <div class="faq-answer">
      <p>Правильный выбор марки бетона является основной задачей при выполнении любых строительных работ. <br> Часто клиенты выбирают марку "на глаз" или ориентируясь только на цену, но это может привести к ошибкам в строительстве.<br><strong>"МАВИС-Бетон"</strong> заботится о своих клиентах и предлагет бесплатную помощь с подбором состава бетона для различных типов работ: фундамент, стяжка, несущие контсрукции и т.д.<br><strong>Оставляейте заявку на звонок в форме на сайте или обращайтесь к нам по телефону.</strong></p>
    </div>
  </div>
<script>
    import "../scripts/questionanswer.js";
</script>