---
import '../styles/slidercertificates.css';
---
<div class="slider-container">
    <div class="slider" id="slider">
      <img src="src/assets/certificate_01.jpg" class="slide">
      <img src="src/assets/certificate_02.jpg" class="slide">
      <img src="src/assets/certificate_03.jpg" class="slide">
      <img src="src/assets/certificate_04.jpg" class="slide">
      <img src="src/assets/certificate_05.jpg" class="slide">
    </div>
  
    <div class="controls">
      <button id="prev">←</button>
      <button id="next">→</button>
    </div>
  </div>
  
  <!-- Fullscreen -->
  <div class="fullscreen" id="fullscreen">
    <span class="close" id="close">✕</span>
    <img id="fullscreen-img">   
  </div>
 <script>
    import "../scripts/slidercertificates.js";
</script>