---
import '../styles/slideroffers.css';
---
<div class="slider_offer">
    <button class="btn prev">❮</button>
  
    <div class="slides_offer" id="slides">
      <img src="/src/assets/offer_1.png" alt="offer_1">
      <img src="/src/assets/offer_2.png" alt="offer_2">
    </div>
  
    <button class="btn next">❯</button>
  </div>

<script>
    import "../scripts/slideroffers.js";
</script>