---
import FormCallBack from './../../components/FormCallBack.astro';
import Layout from './../../layouts/Layout.astro';
import './../../styles/products.css';

const pageTitle = "Продукция";
---

<Layout pageTitle={pageTitle}>
        <section id="products-banner">
            <div class="container">
                <div class="banner">
                    <div class="banner-img left"></div>
                    <div class="banner-text">
                      <h1>Современное строительство начинается с <br> качественных смесей</h1>
                    </div>
                    <div class="banner-img right"></div>
                  </div>
            </div>
        </section>
        <section id="products-pricing">
            <div class="container">
                <h1>Продукция</h1>
                <p>Мы предлагаем продукцию, которая сочетает в себе прочность, стабильность характеристик и удобство применения на строительных объектах любого масштаба — от частного домостроения до крупных инфраструктурных проектов.</p>
                <div class="products-pricing-tables">
                    <h2>Товарный бетон</h2>
                    <table class="price_concrete">
                        <thead>
                        <tr>
                          <td>Марка</td>
                          <td>Класс</td>
                          <td>Цена</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>Бетон М100</td>
                          <td>В-7,5</td>
                          <td><strong>4266</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>Бетон М150</td>
                          <td>В-10</td>
                          <td><strong>4342</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>Бетон М200</td>
                          <td>В-15</td>
                          <td><strong>4511</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>Бетон М250</td>
                          <td>В-20</td>
                          <td><strong>4945</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>Бетон М300</td>
                          <td>В-22,5</td>
                          <td><strong>5098</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>Бетон М350</td>
                          <td>В-25</td>
                          <td><strong>5265</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>Бетон М400</td>
                          <td>В-30</td>
                          <td><strong>5585</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>Бетон М450</td>
                          <td>В-35</td>
                          <td><strong>5921</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>Бетон М500</td>
                          <td>В-40</td>
                          <td><strong>6244</strong> руб.</td>
                        </tr>
                        </tbody>
                      </table>
                      <h2>Цементно-песчанные смеси</h2>
                      <table class="price_cps">
                        <thead>
                        <tr>
                          <td>Вид</td>
                          <td>Цена</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>ЦПС 1/8</td>
                          <td><strong>3791</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>ЦПС 1/7</td>
                          <td><strong>3970</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>ЦПС 1/6</td>
                          <td><strong>4215</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>ЦПС 1/5</td>
                          <td><strong>4505</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>ЦПС 1/4</td>
                          <td><strong>4905</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>ЦПС 1/3</td>
                          <td><strong>5460</strong> руб.</td>
                        </tr>
                        </tbody>
                      </table>
                      <h2>Монтажный раствор</h2>
                      <table class="price_rstv">
                        <thead>
                        <tr>
                          <td>Вид</td>
                          <td>Цена</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>М50 монтажный</td>
                          <td><strong>3745</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>М100 монтажный</td>
                          <td><strong>4163</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>М150 монтажный</td>
                          <td><strong>4565</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>М200 монтажный</td>
                          <td><strong>4975</strong> руб.</td>
                        </tr>
                        <tr>
                          <td>М300 монтажный</td>
                          <td><strong>5640</strong> руб.</td>
                        </tr>
                        </tbody>
                      </table>
                      <h2>Противоморозная добавка</h2>
                      <table class="price_pmd">
                        <thead>
                        <tr>
                          <td>Вид</td>
                          <td>Цена</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>ПМД -5&deg;C</td>
                          <td><strong>80</strong> руб./м<sup>3</sup></td>
                        </tr>
                        <tr>
                          <td>ПМД -10&deg;C</td>
                          <td><strong>95</strong> руб./м<sup>3</sup></td>
                        </tr>
                        <tr>
                          <td>ПМД -15&deg;C</td>
                          <td><strong>170</strong> руб./м<sup>3</sup></td>
                        </tr>
                        <tr>
                          <td>ПМД -20&deg;C</td>
                          <td><strong>225</strong> руб./м<sup>3</sup></td>
                        </tr>
                        <tr>
                          <td>ПМД -25&deg;C</td>
                          <td><strong>300</strong> руб./м<sup>3</sup></td>
                        </tr>
                        </tbody>
                      </table>
                </div>
                <FormCallBack />
            </div>

        </section>
</Layout>